@import '../../styles/colors.scss';

.poll-list {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.chosen-option {
  color: white;
  .card-body {
    position: relative;
    .top-right-icon {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }
}
