@import './app/views/styles/colors.scss';

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.col-center {
  margin: 0 auto;
}

.invalid-field {
  border-color: #dc3545 !important;
}

.show-invalid {
  display: block !important;
}

.scroll-box {
  overflow-y: auto;
  height: 486px;
  &::-webkit-scrollbar-thumb {
    background-color: $pale-sky;
  }
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: $light-grey;
  }
  &::-webkit-scrollbar {
    width: 11px;
  }
}

.btn > a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.btn:focus {
  box-shadow: none !important;
}

.user-card {
  margin: 20px;
}

.user-card-details {
  padding-left: 20px;
  border-left: 1px solid #eee;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-text {
    font-size: 0.8em;
  }
}
