@import './app/views/styles/colors.scss';

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.scroll-box {
  overflow-y: auto;
  height: 486px;
  padding: 0 !important;
  &::-webkit-scrollbar-thumb {
    background-color: $pale-sky;
  }
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: $light-grey;
  }
  &::-webkit-scrollbar {
    width: 11px;
  }
}

.btn > a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.btn:focus {
  box-shadow: none !important;
}

.user-card {
  margin: 20px;
}

.user-card-details {
  p.one-liner {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-text {
    font-size: 0.8em;
  }
}

.initial-loading-bar {
  background-color: $azure-radiance;
}

.home-loading-bar {
  background-color: $pale-sky;
}

.initial-loading-bar,
.home-loading-bar {
  height: 2px;
}

@media (min-width: 768px) {
  .user-card-details {
    border-left: 1px solid $gallery;
  }
}